:root {
  --col-background: #151515;
  --col-background-layer: #292929;
  --col-link: white;
  --col-link-hover: lightgrey;
  --col-text: white;
  --col-input-background: #565b63;
  --col-input-background-hover: #474e5a;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: var(--col-background);
  color: var(--col-text);
  display: flex;
  flex-direction: column;

  a {
    color: var(--col-link);

    &:hover {
      color: var(--col-link-hover);
    }
  }

  nav {
    background-color: var(--col-background-layer);
    color: var(--col-text);

    .nav-container {
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      padding: 5px 10px;
      align-items: center;
      justify-content: space-between;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 0.8rem;

    .upload {
      width: 100%;
      border-radius: 8px;
      background-color: var(--col-background-layer);
      padding: 1rem;
      text-align: center;

      button {
        margin-top: 1rem;
        width: 200px;
        height: 50px;
      }

      label {
        font-weight: bold;
      }

      .field {
        margin: 1rem;

        input {
          width: 100%;
          max-width: 320px;
        }

        #fileInput {
          padding: 10px;
          cursor: pointer;
          background-color: var(--col-input-background);
          border-radius: 8px;

          &:hover {
            background-color: var(--col-input-background-hover);
          }

          .upload #error {
            margin: 1rem;
            color: red;
          }
        }
      }
    }
  }
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}